* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62,5%;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

body{
  height: 100vh;
  
  color: var(--text-color );
  font-family: 'Poppins', sans-serif;
  background: url("../images/top-image.svg") top no-repeat, url("../images/bottom-image.svg") bottom no-repeat; 
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.conteudo {
  display: flex;
  
}
#caixa-esquerda {
  padding: 1rem;
  margin-right: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

h1 {
  color:var(--purple);
  font-size: 2rem;
  font-weight: 700;
  white-space: nowrap;
  padding: 0.5rem;
  
}

ul {
  display: flex;

  list-style: none;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  
}

ul li {
  padding: 0 0.5rem;
  text-align: center;
  font-weight: 300;
  font-size: 0.7rem;
}

ul li span {
  
  font-size: 4rem;
  color: var(--black);
}

 
p {
  text-align: center;
  font-weight: 400;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}
a {
  text-decoration: none;
  background-color: var(--purple);
  color: white;
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0.7rem 2rem;
  border-radius: 0.5rem;

}

a:hover {
 opacity: 0.9;
}


#logo-foguete {
  max-width: 500px;

  padding: 1rem;

}

/*FULLSCREEN ===============*/

.caixa-menu {
  height: 100%;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.616);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;

}

.caixa-menu.ativo {
  opacity: 1;
  visibility: visible;
}
.caixa-menu .caixa-dados {
  padding: 1rem;
  max-width: 450px;
  width: 90vw;
 
  background-color: rgba(255, 255, 255, 0.911);
}

.caixa-menu .caixa-dados form fieldset {
  padding: 1rem;
  background-color: rgba(182, 182, 182, 0.349)
}
#botoes{
  display: flex;
  margin: 0.5rem;
}
#botoes input {
  width: 100%;
  margin-left: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 0px black;
  background-color: var(--purple);
  color: white;
  font-weight: 100;
  font-size: 0.8rem;
  
}

.button {
  padding: 1rem 2rem;
}
input{
  width: 100%;
  outline: none;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
}

input:hover {
  opacity: 0.9;
}
h2 {
  color: var(--purple);
  text-align: center;
}
label, legend {
  color: black;
}


@media (max-width:768px) {
    .conteudo {
      display: block;
      
    }
   
    #caixa-direita {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    #logo-foguete{
      max-width: 80vw;
    }
}

@media (max-width:425px) {
  h1{
    font-size: 1.5rem;
  }

  ul li span{
  font-size: 2.8rem;

}
}

@media (min-width:2560px){
  html {
    font-size: 160%;
  }
 
}
